@import "mixin";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
* {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
}

.navbar-brand {
    img {
        height: 30px;
        margin-left: 12px;
        margin-top: 7px;
    }
}

.container-fluid {
    padding: 0 !important;
}

#myCamera-myCamera {
    padding-bottom: 10px;
    video {
        @include box_shadow(5);
        border-radius: 5px;
    }
    button {
        -webkit-box-sizing: border-box;
        /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;
        /* Firefox, other Gecko */
        box-sizing: border-box;
        @include box_shadow(1);
        @include font_family();
        color: white;
        font-weight: bold;
        font-size: 18px;
        width: 460px;
        padding: 15px;
        border: none;
        outline: none;
        border-radius: 0px 0px 5px 5px;
        background: #721A2D;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
    }
}

.navbar-default {
    height: 70px;
    border-bottom: 1px solid #721A2D;
    background: white;
    @include box_shadow(1);
}

.navbar-nav {
    li {
        a {
            @include font_family();
            height: 69px;
            line-height: 50px;
            &.active {
                //border-bottom:1px solid #721A2D;
                background: rgba(#721A2D, .2);
            }
        }
    }
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background: rgba(#721A2D, 1);
    color: white;
}

#loading-content {
    background: rgba(#FFFFFF,.95);
    display: block;
    z-index: 100;
    left: 0;
    right: 0;
    height: 100%;
    text-align: center;
    color: #FFFFFF;
    position: fixed;
}

.app-loading {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    img{
        height:325px;
        width:325px;
    }
}

.app-loading .spinner {
    height: 400px;
    width: 400px;
    animation: rotate 2s linear infinite;
    transform-origin: center center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.app-loading .spinner .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
    stroke: #721A2D;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}
.img-face{
    @include box_shadow(2);
        border-radius: 5px;
        //margin-bottom:50px;
}
.notsam_col{
    img{
        @include box_shadow(2);
        border-radius: 5px;
        height:200px;
        width:200px;
    }
}
.tbl_con{
    @include box_shadow(2);
    padding:20px;
    margin-top:20px;
    margin-right:20px;
    margin-left:20px;
    margin-bottom:50px;
    border-radius: 5px;
}
.face_features{

    @include font_family();

    padding:20px;
    
    border-radius: 5px;
    td{
        @include font_family();
    }
    .feature{
        padding:10px 10px 10px 0px;
        font-weight:700;
    }
    th{
        color:darken(#721A2D,10%);
        font-weight:700;
        border-bottom:2px solid #721A2D;
        font-size:16px;
    }
}
.about{
    border-radius:5px;
    margin:10px;
    @include box_shadow(2);
    padding:30px;
    text-align: left;
    max-width:900px;

}